{% extends "base.html" %}
{% block content %}
<h1>Orders</h1>
<form method="post" action=".">{% csrf_token %}
	
<table>
  <tr>
    <td> Name </td>
    <td><input type="text" name="name"></td>
    <tr>
    <td> Address </td>
    <td><input type="text" name="address" value="{{ row.address }}"></td>
    <tr>
    <td> Desgin </td>
    <td><select name="item_id">
	{% for i in des %}
    <option value="{{ i.key.name }}">{{ i.key.name }}</option>
	{% endfor %}
    </select></td>

    <td><input type="submit"></td>
  </tr>
</table>
</form>
{% endblock %}
