{% extends "base.html" %}
{% block content %}
<form enctype="multipart/form-data" method="post">
{% csrf_token %}
{{ form.as_p }}{{form.help_text.as_p}}
	<td> Artist: </td>
    <td><select name="item_id">
	{% for i in des %}
    <option value="{{ i.key.name }}">{{ i.key.name }}</option>
	{% endfor %}
    </select></td>
<p><input type="submit" alt="order"  value="Make Reservation" /></p>
<h4>Please call us for reservations. Our Employees will happy to assist you using the admin interface</h4> 
</form>
{% endblock %}

