{% extends "base.html"  %}
{% block content  %}
<h5>Welcome to our site! hope you enjoy your stay!</h5>
<a href="/media/guide.pdf">User Guide</p></a>
<a href="/media/">View code</p></a>
<a href="/media/databasedump.txt">databasedump.txt</p></a>
<a href="/media/digram.png">digram.png</p></a>
<a href="/media/alalwanFinalProject.zip">Download code</p></a>
<a href="/media/alalwanConclusion.pdf">Conclusion</p></a>
<h4><p>
The database is on:<br/>
cs551finalproject.zapto.org<br/>
port: 3306<br/>
password: guest<br/>
user    : guest<br/>

Hope this stays uncompromised. At least until I get grades for this project :)</p></h3>

{% endblock  %}
