{% extends "base.html"  %}
{% block content  %}
	<div id="singlehenna">
	
		<p>Name: {{ henna }}</p>
		<p>Description: {{ description }}</p>
		<p>Artist: <a href="/artist/{{ slu }}/">{{artist}}</p></a>
		<p>picture:</p> <img src="{{ MEDIA_URL }}{{ picture }}" width="500" height="300" alt="Big Boat">
		
		<p>Other Work by {{ artist }}: 
		{% for art in work  %}
		<ul class="style2"><p><a href="/readytatoos/{{art.key.slug}}">{{ art.key.name  }}</a></p></ul class>
		{% endfor  %}
		
		
		
		
	</div>
{% endblock  %}
